@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-bg: #1F2937;
  --hero-main-text: #F9FAF8;
  --header-link: #E5E7EB;
  --header-logo: #F9FAF8;
  --cta-bg: #3882F6;
  --header-info: #1F2937;
  --quote-bg: #E5E7EB;
  --quote-text: #1F2937;
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: var(--dark-bg);
}

.extra-bold {
  font-weight: 900;
}

.light-italic {
  font-weight: 300;
  font-style: italic;
}

#hero-container {
  padding-left: 10em;
  padding-right: 8em;
  padding-bottom: 2em;
}

#navbar {
  display: flex;
}

#navbar a,
#links a {
  padding: 10px;
  text-decoration: none;
}

#header-logo {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--header-logo);
  margin-right: auto;
}

#links {
  display: flex;
  align-items: center;
}

#links a {
  color: var(--header-link);
  font-size: 1.3rem;
}

#hero {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-bg);
}

#hero-text {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--hero-main-text);
}

#hero-text p {
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--header-link);
}

figcaption {
  text-align: center;
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--header-link);
}

button {
  all: unset;
  width: 100px;
  padding: 9px 9px;
  margin-top: 10px;
  background-color: var(--cta-bg);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}

#hero-img {
  padding: 40px;
}

#hero-img img {
  width: 500px;
  height: auto;
  padding: 20px;
  margin: 20px;
}

#random-info-title {
  margin-top: 40px;
  padding-top: 10px;
  background-color: white;
}

#random-info-title h1 {
  font-size: 36px;
  font-weight: 900;
  color: var(--header-info);
  text-align: center;
  padding: 20px;
}

#prod-showcase {
  margin-bottom: 0;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20em;
  padding-right: 20em;
}

#prod-showcase p {
  color: rgb(87, 87, 87);
  font-size: 1.2rem;
  padding: 0;
 
}

.product {
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.product p {
  text-align: center;
}

.small-prod-img {
  border: 5px solid var(--cta-bg);
  border-radius: 12px;
  width: 150px;
  height: 150px;
}

#quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  background-color: var(--quote-bg);
  padding: 100px 420px;
}

#quote blockquote {
  display: block;
  color: var(--quote-text);
  margin: 0 auto;
}

.quote-author {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  text-align: right;
  padding-right: 20px;
  color: rgb(46, 46, 46);
}

#quote p {
  text-align: right;
  padding-right: 20px;
}

#cta-sec {
  text-decoration: none;
  flex-direction: column;
  padding: 100px 300px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

#cta-btn-container {
  background-color: var(--cta-bg);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

#cta-btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 40px 20px;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

#cta-text-container {
  padding: 40px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cta-text h2, #cta-text p {
  padding: 0;
  margin: 0;
  color: whitesmoke;
}

footer {
  background-color: var(--dark-bg);
}

footer p {
  padding: 20px;
  color: whitesmoke;
  text-align: center;
}