@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-bg: #1F2937;
  --hero-main-text: #F9FAF8;
  --header-link: #E5E7EB;
  --header-logo: #F9FAF8;
  --cta-bg: #3882F6;
  --header-info: #1F2937;
  --quote-bg: #E5E7EB;
  --quote-text: #1F2937;
}

/* First section: hero, header, navbar */
.extra-bold {
  font-weight: 900;
}

.light-italic {
  font-weight: 300;
  font-style: italic;
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: var(--dark-bg);
}

#hero-container {
  padding-left: 10em;
  padding-right: 8em;
  padding-bottom: 2em;
}

#navbar {
  display: flex;
}

#navbar a,
#links a {
  padding: 10px;
  text-decoration: none;
}

#header-logo {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--header-logo);
  margin-right: auto;
}

#links {
  display: flex;
  align-items: center;
}

#links a {
  color: var(--header-link);
  font-size: 1.3rem;
}

#hero {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-bg);
}

#hero-text {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--hero-main-text);
}

#hero-text p {
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--header-link);
}
figcaption {
  text-align: center;
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--header-link);
}

button {
  all: unset;
  width: 100px;
  padding: 9px 9px;
  margin-top: 10px;
  background-color: var(--cta-bg);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}

#hero-img {
  padding: 40px;
}

#hero-img img {
  width: 500px;
  height: auto;
  padding: 20px;
  margin: 20px;
}

/* Second section: testimonials */

#random-info {
  margin-top: 40px;
  padding-top: 10px;
  background-color: white;
}

#random-info h1 {
  font-size: 36px;
  font-weight: 900;
  color: var(--header-info);
  text-align: center;
  padding: 20px;
}

#prod-showcase {
  margin-bottom: 0;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20em;
  padding-right: 20em;
}

.product {
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
}

/* small blue outlined squares */
.small-img {
  border: 5px solid var(--cta-bg);
  border-radius: 12px;
  width: 150px;
  height: 150px;
}

#quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  background-color: var(--quote-bg);
}

#quote blockquote {
  display: block;
  color: var(--quote-text);
  margin: 0 auto;
  padding: 160px 160px 0 160px;
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

#quote p {
  text-align: right;
  padding-bottom: 120px;
  padding-right: 20px;
}

#cta-container {
  background-color: white;
  padding: 20px;
}

#call-to-action {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 10px 10px;
  background-color: var(--cta-bg);
}

#call-to-action button {
  margin-left: auto;
  border: 2px solid white;
  padding: 0;
}

footer {
  background-color: var(--dark-bg);
}

footer p {
  padding: 20px;
  color: whitesmoke;
  text-align: center;
}